[submodule "assets"]
	path = assets
	url = https://github.com/GREEN-CHAOS/Spacecavate-Assets.git
[submodule "Spacecavate-Assets"]
	path = Spacecavate-Assets
	url = https://github.com/GREEN-CHAOS/Spacecavate-Assets.git
